*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  height: 100vh;
  background: url(img/i.webp) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #c2d9da;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  box-shadow: 0 5px 10px #000;
}

header .logo {
  font-size: 40px;
font-weight: 900;
color: #ffffff;
transition: .5s;
}

header .logo:hover{
  transform: scale(1.2);
}

header nav ul li {
  position: relative;
  float: left;
}

header nav ul li a {
  display: inline-block;
	color: #000;
	opacity: 0.8;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 20px;
	transition: all .07s ease-in-out;
	margin-left: 20px;
	background-color: rgb(230, 223, 223);
	border-radius: 100px;
	background: #fff;
}

header nav ul li a:hover {
opacity: 1;
}

.main-flex {
  display: flex;
height: 1000px;
margin: auto;
}

.second-flex {
  margin: auto;
}

.text h1{
 position: absolute;
 top: 45%;
 left: 50%;
 transform: translate(-50%,-280%);
 color: #fff;
 font-size: 80px;
}

.text h2{
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%,-650%);
  color: #fff;
  font-size: 35px;
}

.text h3{
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%,-60%);
  color: #fff;
  font-size: 55px;
}

.Knopka-DA a {
  background: transparent;
  border: 3px solid #fff;
  padding: 20px 30px;
  color: #fff;
  letter-spacing: 3px;
  border-radius: 10px;
min-width: 250px;
cursor: pointer;
position: relative;
font-size: 35px;
}

.Knopka-net{
  background: transparent;
  border: 3px solid #fff;
  padding: 20px 30px;
  color: #fff;
  letter-spacing: 3px;
  border-radius: 10px;
min-width: 250px;
cursor: pointer;
position: relative;
font-size: 25px;
}
.Knopka-DA a :hover{
  color: rgb(169, 216, 247);
}
.Knopka-net:hover{
  color: rgb(169, 216, 247);
}

.Основа-ДА {
  position:  absolute;
  top: 80%;
  right: 5%;
  transform: translate(-70%, -5%);
}

.Основа-нет {
  position:  absolute;
  top: 80%;
  left:  25%;
  transform: translate(-70%, -5%);
}



.modal-password{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
}
  .modal_box{
    position: relative;
max-width: 500px;
padding: 45px;
background-color: rgb(255, 255, 255);
margin: 30px 15px;
box-shadow: -5px -5px 7px -4px rgba(0, 0, 0, 0.6) inset;
transform: scale(0);
transition: transform .8s;
  }

.modal_box i{
  position: absolute;
  right: 0.5px;
   top: 0.5%;
   font-size: 50px;
  
}
  .modal-password.open {
visibility: visible;
opacity: 1;
  }
  .modal-password.open .modal_box{
    transform: scale(1);
  }

  .Glavnaya2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
  }
    .modal_box2{
      position: relative;
  max-width: 500px;
  padding: 45px;
  background-color: rgb(255, 255, 255);
  margin: 30px 15px;
  box-shadow: -5px -5px 7px -4px rgba(0, 0, 0, 0.6) inset;
  transform: scale(0);
  transition: transform .8s;
    }
  
  .modal_box2 i{
    position: absolute;
    right: 0.5px;
     top: 0.5%;
     font-size: 50px;
    
  }
    .Glavnaya2.open {
  visibility: visible;
  opacity: 1;
    }
    .Glavnaya2.open .modal_box2{
      transform: scale(1);
    }

    .Kontakt2{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, .3);
      display: grid;
      align-items: center;
      justify-content: center;
      overflow-y: auto;
      visibility: hidden;
      opacity: 0;
      transition: opacity .4s, visibility .4s;
    }
      .modal_box3{
        position: relative;
    padding: 45px;
    background-color: rgb(255, 255, 255);
    margin: 30px 15px;
    box-shadow: -5px -5px 7px -4px rgba(0, 0, 0, 0.6) inset;
    transform: scale(0);
    transition: transform .8s;
      }
    
    .modal_box3 i{
      position: absolute;
      right: 0.5px;
      top: 0.5%;
      font-size: 50px;
    }
      .Kontakt2.open {
    visibility: visible;
    opacity: 1;
      }
      .Kontakt2.open .modal_box3{
        transform: scale(1);
      }

      .O-nas2{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .3);
        display: grid;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s, visibility .4s;
      }
        .modal_box4{
          position: relative;
      padding: 45px;
      background-color: rgb(255, 255, 255);
      margin: 30px 15px;
      box-shadow: -5px -5px 7px -4px rgba(0, 0, 0, 0.6) inset;
      transform: scale(0);
      transition: transform .8s;
      background: url(img/Matwey.jpg);
    background-size: cover;
  background-position: center;
  width: 400px;
    height: 400px;
        }
      
      .modal_box4 i{
        position: absolute;
        right: 0.5px;
         top: 0.5%;
         font-size: 50px;
        
      }
        .O-nas2.open {
      visibility: visible;
      opacity: 1;
        }
        .O-nas2.open .modal_box4{
          transform: scale(1);
        }